n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "2701f5e2-0480-45c1-9653-b31c260237c7",
      "name": "Main Workflow Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 100],
      "credentials": {}
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/admin-import-env",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "env_vars",
            "value": "={{ $('Main Workflow Trigger').data.json.env_vars }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "e6a0d01d-5b3a-4f9e-a1e4-d0d5b40c6c7b",
      "name": "Admin: Import Environment Variables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 200]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/admin-import-matches-csv",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "csv_data",
            "value": "={{ $('Main Workflow Trigger').data.json.csv_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "b3e3e0e7-8c3b-4f9a-8c1c-9d0c2b0c3c1b",
      "name": "Admin: Import Matches CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/admin-model-analytics",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "a9f8f8e0-2e2e-4e8c-8c8c-1d1d1d1d1d1d",
      "name": "Admin: Model Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 400]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/admin-model-promote",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "model_id",
            "value": "={{ $('Main Workflow Trigger').data.json.model_id }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "c1a2b3c4-d5e6-7f8a-9b0c-1d2e3f4a5b6c",
      "name": "Admin: Promote Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 500]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/admin-model-system-status",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "d7e8f9a0-b1c2-3d4e-5f6a-7b8c9d0e1f2a",
      "name": "Admin: Model System Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 600]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/admin-model-trigger-training",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "training_params",
            "value": "={{ $('Main Workflow Trigger').data.json.training_params }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "e1f2g3h4-i5j6-7k8l-9m0n-1o2p3q4r5s6t",
      "name": "Admin: Trigger Model Training",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 700]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/admin-prediction-review",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "review_data",
            "value": "={{ $('Main Workflow Trigger').data.json.review_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "f5g6h7i8-j9k0-1l2m-3n4o-5p6q7r8s9t0u",
      "name": "Admin: Prediction Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 800]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/ai-chat",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "message",
            "value": "={{ $('Main Workflow Trigger').data.json.message }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "a0b1c2d3-e4f5-6a7b-8c9d-0e1f2a3b4c5d",
      "name": "AI: Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 200]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/analyze-match",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "match_data",
            "value": "={{ $('Main Workflow Trigger').data.json.match_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "b0c1d2e3-f4a5-6b7c-8d9e-0f1a2b3c4d5e",
      "name": "ML: Analyze Match",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 300]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/cross-league-analyze",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "analysis_params",
            "value": "={{ $('Main Workflow Trigger').data.json.analysis_params }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "c0d1e2f3-a4b5-6c7d-8e9f-0a1b2c3d4e5f",
      "name": "Cross-League: Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 400]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/cross-league-correlations",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Cross-League: Correlations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 500]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/get-predictions",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "prediction_request",
            "value": "={{ $('Main Workflow Trigger').data.json.prediction_request }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "e0f1a2b3-c4d5-6e7f-8a9b-0c1d2e3f4a5b",
      "name": "ML: Get Predictions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [800, 600]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/jobs-create",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "job_details",
            "value": "={{ $('Main Workflow Trigger').data.json.job_details }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "f0a1b2c3-d4e5-6f7a-8b9c-0d1e2f3a4b5c",
      "name": "Jobs: Create Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/jobs-delete",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "job_id",
            "value": "={{ $('Main Workflow Trigger').data.json.job_id }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Jobs: Delete Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/jobs-list",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Jobs: List Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/jobs-logs",
        "method": "GET",
        "bodyParameters": [
          {
            "name": "job_id",
            "value": "={{ $('Main Workflow Trigger').data.json.job_id }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Jobs: Get Job Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/jobs-scheduler",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "scheduler_config",
            "value": "={{ $('Main Workflow Trigger').data.json.scheduler_config }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Jobs: Scheduler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/jobs-toggle",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "job_id",
            "value": "={{ $('Main Workflow Trigger').data.json.job_id }}"
          },
          {
            "name": "enabled",
            "value": "={{ $('Main Workflow Trigger').data.json.enabled }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Jobs: Toggle Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 700]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/jobs-trigger",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "job_id",
            "value": "={{ $('Main Workflow Trigger').data.json.job_id }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Jobs: Trigger Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 800]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/jobs-update",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "job_id",
            "value": "={{ $('Main Workflow Trigger').data.json.job_id }}"
          },
          {
            "name": "update_details",
            "value": "={{ $('Main Workflow Trigger').data.json.update_details }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Jobs: Update Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 900]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/meta-patterns-apply",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "pattern_data",
            "value": "={{ $('Main Workflow Trigger').data.json.pattern_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "ML: Apply Meta Patterns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/meta-patterns-discover",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "discovery_params",
            "value": "={{ $('Main Workflow Trigger').data.json.discovery_params }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "ML: Discover Meta Patterns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/model-decay-monitor",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Monitoring: Model Decay Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/models-auto-prune",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "e1f2a3b4-c5d6-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "ML: Auto Prune Models",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/models-compare",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "model_ids",
            "value": "={{ $('Main Workflow Trigger').data.json.model_ids }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "f2a3b4c5-d6e7-8f9a-0b1c-2d3e4f5a6b7c",
      "name": "ML: Compare Models",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1400, 600]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/models-performance",
        "method": "GET",
        "bodyParameters": [
          {
            "name": "model_id",
            "value": "={{ $('Main Workflow Trigger').data.json.model_id }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "a3b4c5d6-e7f8-9a0b-1c2d-3e4f5a6b7c8d",
      "name": "ML: Model Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1400, 700]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/monitoring-alerts",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "b4c5d6e7-f8a9-b0c1-d2e3-f4a5b6c7d8e9",
      "name": "Monitoring: Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1700, 200]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/monitoring-computation-graph",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "c5d6e7f8-a9b0-c1d2-e3f4-a5b6c7d8e9f0",
      "name": "Monitoring: Computation Graph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/monitoring-health",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "d6e7f8a9-b0c1-d2e3-f4a5-b6c7d8e9f0a1",
      "name": "Monitoring: Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/monitoring-metrics",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "e7f8a9b0-c1d2-e3f4-a5b6-c7d8e9f0a1b2",
      "name": "Monitoring: Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1700, 500]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/patterns-detect",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "detection_params",
            "value": "={{ $('Main Workflow Trigger').data.json.detection_params }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "f8a9b0c1-d2e3-f4a5-b6c7-d8e9f0a1b2c3",
      "name": "ML: Detect Patterns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/patterns-team",
        "method": "GET",
        "bodyParameters": [
          {
            "name": "team_id",
            "value": "={{ $('Main Workflow Trigger').data.json.team_id }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "a9b0c1d2-e3f4-a5b6-c7d8-e9f0a1b2c3d4",
      "name": "ML: Team Patterns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/patterns-verify",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "verification_data",
            "value": "={{ $('Main Workflow Trigger').data.json.verification_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "b0c1d2e3-f4a5-b6c7-d8e9-f0a1b2c3d4e5",
      "name": "ML: Verify Patterns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/phase9-collaborative-intelligence",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "intelligence_data",
            "value": "={{ $('Main Workflow Trigger').data.json.intelligence_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "c1d2e3f4-a5b6-c7d8-e9f0-a1b2c3d4e5f6",
      "name": "Phase 9: Collaborative Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2300, 200]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/phase9-market-integration",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "market_data",
            "value": "={{ $('Main Workflow Trigger').data.json.market_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "d2e3f4a5-b6c7-d8e9-f0a1-b2c3d4e5f6a7",
      "name": "Phase 9: Market Integration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2300, 300]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/phase9-self-improving-system",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "system_feedback",
            "value": "={{ $('Main Workflow Trigger').data.json.system_feedback }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "e3f4a5b6-c7d8-e9f0-a1b2-c3d4e5f6a7b8",
      "name": "Phase 9: Self-Improving System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2300, 400]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/phase9-temporal-decay",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "decay_params",
            "value": "={{ $('Main Workflow Trigger').data.json.decay_params }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "f4a5b6c7-d8e9-f0a1-b2c3-d4e5f6a7b8c9",
      "name": "Phase 9: Temporal Decay",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2300, 500]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/predictions-track",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "prediction_data",
            "value": "={{ $('Main Workflow Trigger').data.json.prediction_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "a5b6c7d8-e9f0-a1b2-c3d4-e5f6a7b8c9d0",
      "name": "ML: Track Predictions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2600, 200]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/predictions-update-results",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "results_data",
            "value": "={{ $('Main Workflow Trigger').data.json.results_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "b6c7d8e9-f0a1-b2c3-d4e5-f6a7b8c9d0e1",
      "name": "ML: Update Prediction Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2600, 300]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/rare-pattern-sync",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "sync_data",
            "value": "={{ $('Main Workflow Trigger').data.json.sync_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "c7d8e9f0-a1b2-c3d4-e5f6-a7b8c9d0e1f2",
      "name": "ML: Sync Rare Patterns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2600, 400]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/reconcile-prediction-result",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "reconciliation_data",
            "value": "={{ $('Main Workflow Trigger').data.json.reconciliation_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "d8e9f0a1-b2c3-d4e5-f6a7-b8c9d0e1f2a3",
      "name": "ML: Reconcile Prediction Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2600, 500]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/retrain-suggestion-action",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "action_data",
            "value": "={{ $('Main Workflow Trigger').data.json.action_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "e9f0a1b2-c3d4-e5f6-a7b8-c9d0e1f2a3b4",
      "name": "ML: Retrain Suggestion Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2600, 600]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/retrain-suggestion-check",
        "method": "GET",
        "bodyParameters": [
          {
            "name": "check_params",
            "value": "={{ $('Main Workflow Trigger').data.json.check_params }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "f0a1b2c3-d4e5-f6a7-b8c9-d0e1f2a3b4c5",
      "name": "ML: Retrain Suggestion Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2600, 700]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/submit-feedback",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "feedback_data",
            "value": "={{ $('Main Workflow Trigger').data.json.feedback_data }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "User: Submit Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2900, 200]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/team-streaks",
        "method": "GET",
        "bodyParameters": [
          {
            "name": "team_id",
            "value": "={{ $('Main Workflow Trigger').data.json.team_id }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "b2c3d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7",
      "name": "ML: Team Streaks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2900, 300]
    },
    {
      "parameters": {
        "url": "https://<PROJECT_REF>.supabase.co/functions/v1/team-transition-matrix",
        "method": "GET",
        "bodyParameters": [
          {
            "name": "team_id",
            "value": "={{ $('Main Workflow Trigger').data.json.team_id }}"
          }
        ],
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ env.SUPABASE_ANON_KEY }}"
          }
        ]
      },
      "id": "c3d4e5f6-a7b8-c9d0-e1f2-a3b4c5d6e7f8",
      "name": "ML: Team Transition Matrix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2900, 400]
    }
  ],
  "connections": {
    "Main Workflow Trigger": [
      { "node": "Admin: Import Environment Variables", "type": "main", "index": 0 },
      { "node": "Admin: Import Matches CSV", "type": "main", "index": 0 },
      { "node": "Admin: Model Analytics", "type": "main", "index": 0 },
      { "node": "Admin: Promote Model", "type": "main", "index": 0 },
      { "node": "Admin: Model System Status", "type": "main", "index": 0 },
      { "node": "Admin: Trigger Model Training", "type": "main", "index": 0 },
      { "node": "Admin: Prediction Review", "type": "main", "index": 0 },
      { "node": "AI: Chat", "type": "main", "index": 0 },
      { "node": "ML: Analyze Match", "type": "main", "index": 0 },
      { "node": "Cross-League: Analyze", "type": "main", "index": 0 },
      { "node": "Cross-League: Correlations", "type": "main", "index": 0 },
      { "node": "ML: Get Predictions", "type": "main", "index": 0 },
      { "node": "Jobs: Create Job", "type": "main", "index": 0 },
      { "node": "Jobs: Delete Job", "type": "main", "index": 0 },
      { "node": "Jobs: List Jobs", "type": "main", "index": 0 },
      { "node": "Jobs: Get Job Logs", "type": "main", "index": 0 },
      { "node": "Jobs: Scheduler", "type": "main", "index": 0 },
      { "node": "Jobs: Toggle Job", "type": "main", "index": 0 },
      { "node": "Jobs: Trigger Job", "type": "main", "index": 0 },
      { "node": "Jobs: Update Job", "type": "main", "index": 0 },
      { "node": "ML: Apply Meta Patterns", "type": "main", "index": 0 },
      { "node": "ML: Discover Meta Patterns", "type": "main", "index": 0 },
      { "node": "Monitoring: Model Decay Monitor", "type": "main", "index": 0 },
      { "node": "ML: Auto Prune Models", "type": "main", "index": 0 },
      { "node": "ML: Compare Models", "type": "main", "index": 0 },
      { "node": "ML: Model Performance", "type": "main", "index": 0 },
      { "node": "Monitoring: Alerts", "type": "main", "index": 0 },
      { "node": "Monitoring: Computation Graph", "type": "main", "index": 0 },
      { "node": "Monitoring: Health", "type": "main", "index": 0 },
      { "node": "Monitoring: Metrics", "type": "main", "index": 0 },
      { "node": "ML: Detect Patterns", "type": "main", "index": 0 },
      { "node": "ML: Team Patterns", "type": "main", "index": 0 },
      { "node": "ML: Verify Patterns", "type": "main", "index": 0 },
      { "node": "Phase 9: Collaborative Intelligence", "type": "main", "index": 0 },
      { "node": "Phase 9: Market Integration", "type": "main", "index": 0 },
      { "node": "Phase 9: Self-Improving System", "type": "main", "index": 0 },
      { "node": "Phase 9: Temporal Decay", "type": "main", "index": 0 },
      { "node": "ML: Track Predictions", "type": "main", "index": 0 },
      { "node": "ML: Update Prediction Results", "type": "main", "index": 0 },
      { "node": "ML: Sync Rare Patterns", "type": "main", "index": 0 },
      { "node": "ML: Reconcile Prediction Result", "type": "main", "index": 0 },
      { "node": "ML: Retrain Suggestion Action", "type": "main", "index": 0 },
      { "node": "ML: Retrain Suggestion Check", "type": "main", "index": 0 },
      { "node": "User: Submit Feedback", "type": "main", "index": 0 },
      { "node": "ML: Team Streaks", "type": "main", "index": 0 },
      { "node": "ML: Team Transition Matrix", "type": "main", "index": 0 }
    ]
  },
  "active": false,
  "id": "winmix-tipsterhub-workflow",
  "name": "WinMix TipsterHub Comprehensive Workflow",
  "meta": {
    "workflowDescription": "Comprehensive n8n workflow for WinMix TipsterHub, covering all major functional areas, Supabase Edge Functions, and ML pipeline interactions.",
    "workflowTags": ["WinMix", "TipsterHub", "n8n", "Supabase", "ML", "Automation"]
  },
  "settings": {
    "executionOrder": "nodesAndConnections",
    "timezone": "America/New_York"
  }
}